# Build outputs (ignore in all modules)
**/build/
**/target/
**/bin/
**/.gradle/
**/.terraform/
**/terraform/tfout

# Logs and temp files
*.log
*.tmp

# IDE/editor
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
