{
    # This allows Caddy to create its own CA for local use
    local_certs
}

# Use http:// to bypass the SSL protocol error while testing with a raw IP
http://89.167.95.134 {
    encode zstd gzip

    handle /keycloak* {
        reverse_proxy keycloak:8080
    }

    handle {
        reverse_proxy app:8081
    }
}